@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

/* Unviversal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Universal Font Styles */
a,
button,
span,
input,
label,
p,
figcaption {
  font-family: "Noto Sans JP", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

a,
ul {
  text-decoration: none;
  list-style: none;
}

/* Use these two classes for any blog post description or story, use this font size */
.desc,
.post {
  font-size: 1.2rem;
}

label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

input:focus,
text-area:focus {
  outline: none;
}
